@model CategoryVM
@{
    ViewBag.Title = "AddCategory";
}

<style>
    .width
    {
        width:300px;
    }
    </style>>

@using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Add Category Page
                            </header>
                        </section>
                    </div>
                </div>
            }